<!DOCTYPE html>
<html ng-app="calendar">
<head>
    <meta charset="utf-8">
    <title>Google Calendar event link generator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        document.write('<base href="' + document.location + '" />');
    </script>

    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">
</head>
<body>

<div class="container" ng-controller="EventController">
    <div class="row">
        <div class="col-md-5 col-lg-4">
            <h1>Event URL generator</h1>
            <h2>"add to Google Calendar"</h2>
        </div>
        <div class="col-md-5 col-lg-4" ng-show="url">
            <h3>Event Link</h3>
            <h4>URL</h4>
            <div>
				<textarea class="form-control" onclick="this.select();" readonly>{{url}}</textarea>
            </div>
            <h4>HTML link</h4>
            <div>
				<textarea class="form-control" onclick="this.select();" readonly><a href="{{url}}">add {{title}} to Google calendar</a></textarea>
            </div>
            <h4>Markdown link</h4>
            <div>
				<textarea class="form-control" onclick="this.select();" readonly>[add {{title}} to Google calendar]({{url}})</textarea>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5 col-lg-4">
            <form novalidate ng-submit="getUrl()">
                <h3>Event Info</h3>
                <div class="form-group">
                    <label for="eventTitle">Title:</label>
                    <input ng-model="title" type="text" id="eventTitle" name="title" class="form-control" required />
                </div>
                <div class="form-group">
                    <label for="eventDesc">Description:</label>
                    <textarea ng-model="desc" id="eventDesc" name="desc" class="form-control" required></textarea>
                </div>
                <div class="form-group">
                    <label for="eventDesc">Location:</label>
                    <textarea ng-model="locat" id="eventLocat" name="locat" class="form-control" required></textarea>
                </div>
                <h3>Date and Time</h3>
                <div class="form-group">
                    <label for="allDay">All Day Event?&nbsp;</label>
                    <input type="checkbox" ng-model="allDay" id="allDay">
                </div>
                <div class="form-group" ng-if="!allDay">
                    <label for="eventDateStart">Start Time:</label>
                    <div class="input-group datetime" id="dateStartContainer" datetime ng-model="start.time">
                        <input type="text" class="form-control" id="eventDateStart" name="start" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-if="!allDay">
                    <label for="eventDateEnd">End Time:</label>
                    <div class="input-group datetime" id="dateEndContainer" datetime ng-model="end.time">
                        <input type="text" class="form-control" id="eventDateEnd" name="end"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-if="allDay">
                    <label for="eventDateStart">Start Date:</label>
                    <div class="input-group date" id="dateStartContainer" datetime ng-model="start.date">
                        <input type="text" class="form-control" id="eventDateStart" name="start" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <div class="form-group" ng-if="allDay">
                    <label for="eventDateEnd">End Date:</label>
                    <div class="input-group date" id="dateEndContainer" datetime ng-model="end.date">
                        <input type="text" class="form-control" id="eventDateEnd" name="end"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <input type="submit" value="Generate" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.29/angular-animate.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.0/moment.min.js"></script>
<script src="js/bootstrap-datetimepicker.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/URI.js/1.17.0/URI.min.js"></script>

<script src="js/app.js"></script>
</body>
</html>
